* {
  list-style: none;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.rede {
  cursor: pointer;
  font-size: 00.9rem;
}

.line {
  border: 1px solid darkgrey;
  display: inline-block;
  width: 40%;
  margin-bottom: 2.5px;
}

.numConfirm {
  font-size: 0.82rem;
  font-weight: 500;
}

.help {
  font-size: 0.9rem;
}

.number {
  position: relative;
}

.lbl {
  position: absolute;
  left: 5px;
  top: 13px;
  transition: 0.5s;
  opacity: 0.6;
}

.input-group,
.input-group-lg {
  position: relative;
}

.inpt {
  width: 100%;
  height: 60px;
  font-size: 1.2rem;
}

.inpt:focus~.lbl,
.inpt:valid~.lbl {
  font-size: .9rem;
  transform: translateY(-13px);
}

.navbar {
  box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.644);
  height: 55px;
  z-index: 1;
}

.icon,
.social-logo {
  height: 20px;
  width: 20px;
}

.social-logo {
  left: 5px;
}

.search-button-img {
  height: 20px;
  width: 20px;
}

.search-filter-container {
  right: 8px;
  top: 8px;
  background-color: transparent;
  z-index: 1;
}

.search-filter-btn {
  border: 1px solid rgba(0, 0, 0, 0.349);
}

.search-button-mgnf-glass {
  top: 18px;
  left: 23px;
}

.search-input {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.212);
}

.search-lbl {
  position: absolute;
  display: none;
  left: 56px;
  top: 15px;
  font-size: .94rem;
  font-weight: 500;
}

.search-desc-container {
  flex-wrap: nowrap;
  top: 34px;
  left: 3.5rem;
  width: 46.5%;
}

.search-desc-item {
  height: 2rem;
  height: 20px;
  overflow: hidden;
}

.desc-item-divisor {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  transform: translateY(-7px);
}

.types-container {
  height: 61px;
}

.types-carrousel {
  min-width: 100vw;
  overflow-x: auto;
}

.types-carrousel::-webkit-scrollbar {
  width: 0;
}

.types-item-img {
  height: 25px;
  width: 25px;
}

.types-item {
  font-size: .7rem;
  border: 0;
  background-color: transparent;
  white-space: nowrap;
}

.types-item:hover {
  border-bottom: 1px solid darkgray;
}

.types-item:hover {
  border-bottom: 1px solid darkgray;
}

.types-item:focus {
  border-bottom: 1px solid blue;
}

.acmd-filter-container,
.destiny-container {
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.550);
}

.destiny-container {
  background-color: #ddd;
}

.find-destiny,
.data-guest-btn {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.200);
}

.filter-main {
  min-height: 100%;
}

.acmd-filter {
  overflow-y: scroll;
}

.acmd-header,
.destiny-header {
  z-index: 1;
}

.close-btn {
  font-size: 25px;
}

.filter-header {
  width: 100%;
}

.price-lbl {
  font-size: .75rem;
  left: 10px;
  top: 5px;
}

.price-input {
  height: 50px;
}

.acmd-price-table {
  border-bottom: 2px solid #a9a9a9;
}

.acmd-price-item {
  height: 20px;
  width: 10px;
  background-color: #a9a9a9;
  margin-left: 0.5px;
  margin-right: 0.5px;
  border-radius: 1.5px 1.5px 0px 0px;
}

.comodos-carroussel {
  overflow-x: scroll;
  white-space: nowrap;
}

.comodos-carroussel::-webkit-scrollbar {
  width: 0;
}
.comodos-btn {
  background-color: transparent;
  padding: 5px;
}

.conv_selected {
  background-color: #000;
  color: #fff;
}

.property {
  height: 93px;
  width: 100px;
  margin: 5px;
  background-color: #fff;
}

.property-item {
  margin-top: 1px;
  height: 50px;
  width: 50px;
}

.destiny-btn,
.offers-btn,
.account-btn {
  border: 0;
  border-bottom: 2px solid transparent;
}

.border-bt {
  border-bottom: 2px solid black;
}

.lupa {
  height: 16px;
}

.destiny-text {
  white-space: nowrap;
}

.destiny-maps {
  overflow-x: scroll;
}

.destiny-map-img {
  height: 5.5rem;
}

.phone-input::placeholder {
  font-size: 1.2rem;
}

.code-input {
  letter-spacing: 5px;
}

.name-desc,
.email-desc,
.info-desc,
.terms-desc,
.notifi-desc {
  font-size: .9rem;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  background-color: #000;
  content: "?";
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
  margin-left: 5px;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  left: 20px;
  margin-right: 10px;
}

details[open] summary::after {
  content: "x";
}

.profile-img {
  height: 60px;
  width: 60px;
  background-color: rgb(50, 50, 50);
}

.profile-footer {
  font-size: .85rem;
}

.personalinfo-header,
.account-header {
  z-index: 1;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.200);
}

.login-btn {
  background: linear-gradient(to left, #008080, #00c0c0);
}

.save-btn {
  background-color: #008080;
}

.bottom-border {
  border: 0;
  border-bottom: 1px solid darkgray;
}

.translate-switch {
  margin-top: 2.2rem;
}

.font-smaller {
  font-size: .9rem;
}
.receipt-elem{
  background-color:rgba(0, 0, 0, 0.050);
}
.receipt-value{
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.anfitriao-resume-container{
  overflow-x: scroll;
}
.spaceDesc-container{
  background-color: rgba(0, 0, 0, 0.500);
  z-index: 1;
}
.scroll-lock{
  position: fixed;
}
.space-type-button-container{
  background-color: rgba(0, 0, 0, 0.150);

}
.addAcomodation{
  background: linear-gradient(to right, rgb(108, 0, 196), rgb(168, 0, 173), rgb(224, 0, 86),  rgb(255, 0, 55));
}
.close-addAcmd-btn{
  background-color: rgba(255, 255, 255, 0.336);
}
.addAcomodation-main{
  min-height: 100%;
  background-color: #fff;
}
.space-types{
  border: 1px solid darkgray;
  text-align: start;
}
.emphasis{
  border: 1px solid darkgray;
  padding: 10px;
  background-color: transparent;
  border-radius: 20px;
}
.emphasis:focus{
  border: 1px solid #000;
}
.space-types:focus{
  border: 1px solid #000;
}
.map{
  height: 200px;
  width: 100%;
  margin-top: 50px;
}
.conv-items, .pref-items, .sec-items,.selected{
  width: 120px;
  height: 100px;
  background-color: transparent;
  border: 1px solid rgb(169, 169, 169);
  font-weight: 500;
  border-radius: 12px;
}
.selected{
  border: 1px solid #000;
  color: #000;
}
.img-container{
  border: 1px dotted #008080;
  width: 70%;
  margin: 0 auto;
}
.anuncio-title{
  margin: 0 auto;
}
a.comodation-desc{
  resize: none;
}
.form-check-input{
  padding: 10px;
}
.desc-option-radio{
  padding: 20px;
}
.input-img-container{
  margin-bottom: 60px;
}
.preview-container{
  background-color: rgba(0, 0, 0, 0.192);
  border-radius: 10px;
}
.caret{
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.350);
}
@media (max-width: 700px) {
  .search-desc-container {
    width: 70%;
  }
  .search-desc-item {
    font-size: .7rem;
  }
  .desc-item-divisor {
    transform: translateY(-11px);
  }
  .search-lbl {
    display: block;
  }

  .destiny-maps::-webkit-scrollbar {
    height: 0;
  }
  
}