* {
  list-style: none;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.rede {
  cursor: pointer;
  font-size: 00.9rem;
}

.line {
  border: 1px solid darkgrey;
  display: inline-block;
  width: 40%;
  margin-bottom: 2.5px;
}

.numConfirm {
  font-size: 0.82rem;
  font-weight: 500;
}

.help {
  font-size: 0.9rem;
}

.number {
  position: relative;
}

.lbl {
  position: absolute;
  left: 5px;
  top: 13px;
  transition: 0.5s;
  opacity: 0.6;
}

.input-group,
.input-group-lg {
  position: relative;
}

.inpt {
  width: 100%;
  height: 60px;
  font-size: 1.2rem;
}

.inpt:focus~.lbl,
.inpt:valid~.lbl {
  font-size: .9rem;
  transform: translateY(-13px);
}

.navbar {
  box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.644);
  height: 60px;
  z-index: 1;
}

.icon,
.social-logo {
  height: 20px;
  width: 20px;
}

.social-logo {
  left: 5px;
}

.search-button-img {
  height: 20px;
  width: 20px;
}

.search-filter-button {
  right: 17px;
  top: 16px;
  border: 1px solid rgba(0, 0, 0, 0.349);
  background-color: transparent;
}

.search-button-mgnf-glass {
  top: 18px;
  left: 23px;
}

.search-input {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.212);
}

.search-lbl {
  position: absolute;
  display: none;
  left:56px;
  top: 15px;
  font-size: .94rem;
  font-weight: 500;
}
.search-desc-container{
  flex-wrap: nowrap;
  top: 34px;
  left: 3.5rem;
  width: 46.5%;
}
.search-desc-item{
  height: 2rem;
  height: 20px;
  overflow: hidden;
}
.desc-item-divisor{
  margin-bottom:10px;
  font-weight: bold;
  font-size: 1.2rem;
  transform: translateY(-11px);
}
.types-container{
  height: 61px;
}
.types-carrousel{
  min-width: 100vw;
  overflow-x: auto;
}
.types-carrousel::-webkit-scrollbar{
  width: 0;
}
.types-item-img{
  height: 25px;
  width: 25px;
}
.types-item{
  font-size: .7rem;
  border: 0;
  background-color: transparent;
  white-space: nowrap;
}
.types-item:hover{
  border-bottom: 1px solid darkgray;
}
.types-item:hover{
  border-bottom: 1px solid darkgray;
}
.types-item:focus{
  border-bottom: 1px solid blue;
}
.acmd-filter-container,.destiny-container{
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.550);
}
.destiny-container{
  background-color: #ddd;
}
.find-destiny, .data-guest-btn{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.200);
}
.filter-main{
  min-height: 100%;
}
.acmd-filter{
  overflow-y: scroll;
}
.acmd-header, .destiny-header{
  z-index: 1;
}
.close-btn{
  font-size: 25px;
}
.filter-header{
  width: 100%;
}
.price-lbl{
  font-size: .75rem;
  left: 10px;
  top: 5px;
}
.price-input {
  height: 50px;
}
.acmd-price-table{
  border-bottom: 2px solid #a9a9a9;
}
.acmd-price-item{
  height: 20px;
  width: 10px;
  background-color: #a9a9a9;
  margin-left: 0.5px;
  margin-right: 0.5px;
  border-radius: 1.5px 1.5px 0px 0px;
}
.comodos-carroussel{
  overflow-x: scroll;
  white-space: nowrap;
} 
.comodos-carroussel::-webkit-scrollbar{
  width: 0;
}
.comodos-btn{
  background-color: transparent;
  padding: 5px;
  border: 0;
}
.selected{
  background-color: #000;
  color: #fff;
}
.property{
  height: 93px;
  width:100px;
  margin: 5px;
  background-color: #fff;
}
.property-item{
  margin-top: 1px;
  height: 50px;
  width: 50px;
}
.destiny-btn{
  border: 0;
  border-bottom: 2px solid transparent;
}
.bottom-border{
  border-bottom: 2px solid black;
}
.lupa{
  height: 16px;
}
.destiny-text{
  white-space: nowrap;
}
.destiny-maps{
  overflow-x: scroll;
}

.destiny-map-img{
  height: 5.5rem;
}
@media (max-width: 700px) {
  .search-desc-item{
  font-size: .7rem;
  }
  .search-lbl{
    display: block;
  }
  .destiny-maps::-webkit-scrollbar{
    height: 0;
  }
}
